<a href="https://colab.research.google.com/github/rosslogan702/hypothesis_testing_notes/blob/master/tukeys_range_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hypothesis Testing - Tukey's Range Test

# Contents

The focus of this notebook is Tukey's Range Test.

The notebook will cover the following:



1.   Description
2.   Manual Calculation
3.   Practical Examples using StatsModels Library
4. Assumptions

# 1. Description

Tukey's range test is used to determine if there are significant differences between datasets.  

Where an ANOVA test will only tell you if there is a significant difference between say 3 datasets being tested, Tukey's range test will specifically tell you which datasets there is a significant difference between.  

Tukey's range test compares the means of different groups and will tell you which ones have a significant difference.

# 2. Manual Calculation

## Example 1

The following example is three different types of scores from different treatments and we want to determine which treatments have a significant difference between them.

## Step 1 - Prepare Data

In [1]:
import numpy as np

type_a_scores = [77, 79, 87, 85, 78]
type_b_scores = [83, 91, 94, 88, 85]
type_c_scores = [80, 82, 86, 85, 80]

print('Type A Scores: {}'.format(type_a_scores))
print('Type B Scores: {}'.format(type_b_scores))
print('Type C Scores: {}'.format(type_c_scores))

Type A Scores: [77, 79, 87, 85, 78]
Type B Scores: [83, 91, 94, 88, 85]
Type C Scores: [80, 82, 86, 85, 80]

In [2]:
a_sample_mean = np.mean(type_a_scores)
b_sample_mean = np.mean(type_b_scores)
c_sample_mean = np.mean(type_c_scores)

print('A Sample Mean: {}'.format(a_sample_mean))
print('B Sample Mean: {}'.format(b_sample_mean))
print('C Sample Mean: {}'.format(c_sample_mean))

A Sample Mean: 81.2
B Sample Mean: 88.2
C Sample Mean: 82.6

## Step 2 - Calculate the Tukey Criterion (T)

$T = q_\alpha(c, n-c)\sqrt\frac{MSE}{n_i}$

Where:  
$\alpha$ = significance level (e.g 0.05)  
$q_\alpha(c, n-c)$ = Studentised Range Distribution, based on c and (n-c) df  
$c$ = number of treatments (groups)  
$n$ = total sample size  
MSE = Mean Square Error (Also known as Mean Square Within)  
$n_i$ = Sample size of the group with the smallest number of observations

### Finding $q_\alpha(c, n-c)$

For the test that we are running here the significance level that we are interested in is 0.05 (5% significance level).  

Using the Studentized Range Distribution table: http://davidmlane.com/hyperstat/sr_table.html  

To read the table, we use c for the columns and (n-c) for the rows

$q_\alpha(c, n-c)$ = $q_\text{0.05}(3, 15-3)$ = $q_\text{0.05}(3, 12)$ = 3.773

### Finding MSE (Mean Square Within)

In [3]:
ssw_a_total = 0
for figure in type_a_scores:
  ssw_a_total+= (figure-a_sample_mean)**2
print('ssw_a_total: {0:.3f}'.format(ssw_a_total))

ssw_b_total = 0
for figure in type_b_scores:
  ssw_b_total+= (figure-b_sample_mean)**2
print('ssw_b_total: {0:.3f}'.format(ssw_b_total))

ssw_c_total = 0
for figure in type_c_scores:
  ssw_c_total+= (figure-c_sample_mean)**2
print('ssw_c_total: {0:.3f}'.format(ssw_c_total))

ssw_total = ssw_a_total + ssw_b_total + ssw_c_total
print('ssw_total: {0:.3f}'.format(ssw_total))

ssw_dof = 3*(5-1)
print('ssw dof: {0:.3f}'.format(ssw_dof))

mse = ssw_total/ssw_dof
print('MSE: {0:.3f}'.format(mse))

ssw_a_total: 80.800
ssw_b_total: 78.800
ssw_c_total: 31.200
ssw_total: 190.800
ssw dof: 12.000
MSE: 15.900

### Calculating T

In [4]:
q = 3.773
n = 5

t = q * np.sqrt((mse/n))
print('T: {0:.3f}'.format(t))

T: 6.728

## Step 3 - Calculate Absolute Values of Paired Means

In [5]:
result_a_b = np.abs(a_sample_mean - b_sample_mean)
result_a_c = np.abs(a_sample_mean - c_sample_mean)
result_b_c = np.abs(b_sample_mean - c_sample_mean)

print('abs diff a & b: {0:.3f}'.format(result_a_b))
print('abs diff a & c: {0:.3f}'.format(result_a_c))
print('abs diff b & c: {0:.3f}'.format(result_b_c))

abs diff a & b: 7.000
abs diff a & c: 1.400
abs diff b & c: 5.600

## Step 4 - Results Analysis

In [6]:
if result_a_b > t:
  print('Statistically significant difference between a and b at 0.05 significance level')
if result_a_c > t:
  print('Statistically significant difference between a and c at 0.05 significance level')
if result_b_c > t:
  print('Statistically significant difference between b and c at 0.05 significance level')

Statistically significant difference between a and b at 0.05 significance level

Only statistically significant difference between the datasets occurs between datasets a and b.

## Example 2 - Website Figures

For the manual calculation, we are going to use the same dataset as the practical examples in section (3).

This section details the process of performing the calculation manually for Tukey's Range Test.

For this manual calculation, we are going to perform the test at a significance level of 0.05

## Step 1 - Prepare Data

In [0]:
website_a_figures = [73.57195018, 38.36736256, 49.36398786, 61.9617142, 
                     38.73959044, 55.94532269, 36.65062484, 60.67437231, 
                     63.07900236, 87.32085001, 50.34422982, 57.1090334, 
                     78.67520953, 61.03927418, 82.28774307, 53.58957582, 
                     72.92461536, 74.5603031, 55.02980576, 41.25844438, 
                     53.79588118, 64.79609893, 70.6964892, 66.74072317, 
                     75.0132205,  95.1255286, 49.455128, 66.03612649, 
                     53.02736305, 73.36372418, 40.25571098, 71.04422625, 
                     50.5013845, 38.22366664, 42.75767497, 52.50694334, 
                     38.604658, 59.67850535, 44.19604564, 46.92727224, 
                     55.24050064, 64.52773077, 34.09865429, 42.23778758, 
                     52.86937388, 90.10958086, 59.77157363, 65.57718324, 
                     67.40180559, 56.73021714, 63.26785746, 45.37055306, 
                     80.38995288, 87.65807685, 51.45634914, 65.99748438, 
                     72.47729986, 64.30071533, 19.73984606, 46.23986878, 
                     52.34828788, 61.11952527, 56.20838268, 39.34468135, 
                     57.93250947, 53.37617284, 48.81742261, 80.03593773, 
                     42.25474002, 44.4620247, 63.2401429, 53.75811252, 
                     41.12354869, 70.37251822, 58.0428706, 53.80533131, 
                     33.5540081, 50.05772819, 59.01472301, 63.18681147, 
                     56.36447661, 79.54804111, 57.58182513, 41.80650266, 
                     63.29608989, 69.20391058, 79.07999732, 68.87071256, 
                     54.61550389, 41.62384273, 58.05435004, 57.19652908, 
                     69.06753866, 76.73936006, 61.71461742, 90.44575864, 
                     44.97285945, 14.93461323, 60.22982158, 37.03612975, 
                     38.57973403, 56.3595887, 95.82780236, 82.89304549, 
                     48.08376399, 41.40360494, 39.62295003, 68.15395305, 
                     62.5134759, 48.39594647, 43.4393662, 53.8693371, 
                     45.40197091, 42.65484356, 77.56769986, 42.21598943, 
                     80.22825438, 52.2077973, 41.85889516, 83.40105978, 
                     63.19638331, 61.35383468, 80.02929924, 48.89037458, 
                     53.97640552, 56.44664214, 50.13546236, 41.93267706, 
                     62.23540804, 60.02470794, 71.94323655, 59.379194, 
                     42.88128137, 79.18722897, 79.31010058, 48.44544746, 
                     51.91236908, 41.13612282, 65.07530571, 49.21085783, 
                     82.5097768, 60.94264609, 56.83480824, 64.73765846, 
                     69.44225076, 47.86210011, 72.52226994, 68.98808623, 
                     58.23601966, 63.84862398]

In [0]:
website_b_figures = [166.22395047, 172.09005618, 152.32762949, 172.507172, 
             140.27311528, 140.36043391, 111.86744002, 141.70177057, 
             148.98833575, 146.91675049, 123.54945067, 123.40978504, 
             155.76569046, 142.96865798, 135.58264198, 169.68754397, 
             146.65975496, 150.9707252, 134.86971979, 149.60776063, 
             148.28307388, 145.88817947, 162.38303137, 135.00981504, 
             171.85180822, 130.07093286, 153.57912977, 138.00376972, 
             125.15058192, 165.07780817, 167.06076974, 148.21345784, 
             142.13482631, 161.74471113, 153.08759695, 127.46149326, 
             144.98488931, 168.04532604, 146.62742461, 169.08085481, 
             147.93072944, 177.82468602, 156.75914532, 149.6819541, 
             133.91578629, 131.58089602, 159.56290262, 160.28930871, 
             182.15691569, 141.93026478, 153.67681774, 124.85813365, 
             135.17597596, 151.92017019, 156.76937056, 151.0351934, 
             147.07835781, 163.30459951, 172.75128135, 132.2530624, 
             140.86317146, 153.71741024, 128.43960204, 150.16932458, 
             146.08145551, 171.98296242, 151.61688295, 159.94892745, 
             137.01951468, 139.07827094, 153.0684031, 151.07737089, 
             136.709464, 186.87288108, 146.4899794, 163.81305555, 
             135.53650919, 152.58431842, 149.59211758, 146.01451472, 
             159.67903997, 168.08994565, 155.03120985, 147.90284861, 
             133.29003945, 137.50441404, 179.52358583, 152.88678396, 
             124.53005843, 145.94780164, 150.74413238, 152.11680648, 
             147.87257702, 164.07964198, 141.96900012, 152.51128825, 
             145.32057291, 148.96494736, 146.39303683, 168.97273101, 
             126.22804995, 146.78461973, 152.16877455, 145.67293588, 
             146.75954115, 152.23049295, 172.39283402, 159.6911547, 
             153.36245345, 165.01578242, 150.94090222, 146.15422137, 
             140.50921191, 140.04764151, 153.15240977, 152.43495213, 
             152.45494029, 165.79913392, 126.14429818, 149.14747073, 
             134.03760893, 137.90312396, 134.40634288, 146.15657776, 
             139.77627365, 149.09244734, 152.204507, 159.88654681, 
             130.79661858, 143.78037133, 140.67739551, 138.27404966, 
             144.97202726, 129.27957612, 125.36927788, 156.07923218, 
             163.05308354, 151.10088824, 119.00762725, 147.40755788, 
             151.08377314, 139.35183159, 157.26332153, 117.17654103, 
             153.10114854, 133.8973409, 147.25560303, 170.96561247, 
             135.18641327, 123.07647302]

In [0]:
website_c_figures = [62.80215823, 54.62836519, 49.87267902, 71.37979508, 
             85.12967256, 49.81457321, 75.35136467, 54.45595669, 
             86.7241256, 75.56591744, 63.03183392, 57.3843091, 
             39.23348399, 82.69868909, 55.96390617, 61.76459869, 
             62.1037224, 66.92666631, 49.93339614, 51.13778227, 
             31.67316587, 38.49802083, 49.36472683, 69.04306874, 
             45.20762281, 73.5836671, 100.61092317, 30.92480424, 
             37.15912948, 53.73782208, 69.36703357, 60.15384459, 
             43.20003949, 51.12609883, 64.77507512, 63.28721074, 
             62.754003, 71.7590419, 73.08977513, 75.48485174, 
             47.8968874, 62.25258739, 66.33673312, 43.71093919, 
             80.65634624, 72.25758668, 100.91480345, 32.02761357, 
             58.31892089, 71.4399215, 45.07120452, 69.71137689, 
             85.37226652, 55.67710588, 70.25367706, 55.81488767, 
             61.21107415, 55.42183671, 66.80712926, 36.99284828, 
             42.37050081, 79.61120896, 58.88769703, 79.59158327, 
             59.16570772, 70.02097967, 85.29993197, 32.41236279, 
             52.6081084, 68.17342096, 65.32976073, 60.00672926, 
             26.30035248, 87.44943179, 55.35068819, 60.28778429, 
             33.03668105, 80.18693884, 77.27496626, 76.7616852, 
             100.94978198, 59.46503936, 78.07629437, 51.6102307, 
             86.95385235, 85.41984014, 54.83564532, 58.06315164, 
             66.17243082, 62.27966342, 83.35735441, 44.7213871, 
             42.8362959, 71.72428838, 68.4553881, 55.93152855, 
             52.33224863, 65.53344277, 48.19362864, 64.92300871, 
             56.23992888, 78.11260866, 55.80999334, 82.06126322, 
             67.03112813, 51.22917649, 51.6408127, 63.48194033, 
             71.77803695, 71.3696262, 45.12124272, 82.24703749, 
             70.91202908, 62.51210475, 71.71280187, 66.37758047, 
             49.28266126, 41.29074798, 61.81010589, 39.62654933, 
             73.54046019, 71.08493364, 61.88315174, 57.41521882, 
             69.83162524, 65.90217343, 77.11136925, 86.72149744, 
             81.81406049, 65.85430935, 94.96433541, 69.97078382, 
             73.34687737, 75.05530607, 57.51618582, 62.3665881, 
             58.80615169, 63.38469779, 35.87580831, 46.22850701, 
             56.05164877, 55.33599773, 45.84709985, 51.93706339, 
             70.16258619, 65.97686424, 50.51337502, 46.76635411, 
             70.39019472, 42.0636888]

In [10]:
website_a_sample_mean = np.mean(website_a_figures)
website_b_sample_mean = np.mean(website_b_figures)
website_c_sample_mean = np.mean(website_c_figures)

print('Website A Sample Mean: {0:.3f}'.format(website_a_sample_mean))
print('Website B Sample Mean: {0:.3f}'.format(website_b_sample_mean))
print('Website C Sample Mean: {0:.3f}'.format(website_c_sample_mean))

Website A Sample Mean: 58.350
Website B Sample Mean: 148.355
Website C Sample Mean: 62.361

In [11]:
total_sample_size = len(website_a_figures) + len(website_b_figures) + len(website_c_figures)
print('Total Sample Size: {0:.3f}'.format(total_sample_size))

Total Sample Size: 450.000

## Step 2 - Calculate the Tukey Criterion

$T = q_\alpha(c, n-c)\sqrt\frac{MSE}{n_i}$

Where:  
$\alpha$ = significance level (e.g 0.05)  
$q_\alpha(c, n-c)$ = Studentised Range Distribution, based on c and (n-c) df  
$c$ = number of treatments (groups)  
$n$ = total sample size  
MSE = Mean Square Error (Also known as Mean Square Within)  
$n_i$ = Sample size of the group with the smallest number of observations

### Finding $q_\alpha(c, n-c)$

For the test that we are running here the significance level that we are interested in is 0.05 (5% significance level).  

Using the Studentized Range Distribution table: http://davidmlane.com/hyperstat/sr_table.html  

To read the table, we use c for the columns and (n-c) for the rows

$q_\alpha(c, n-c)$ = $q_\text{0.05}(3, 450-3)$ = $q_\text{0.05}(3, 447)$

Studentized range table doesn't contain 447 in the rows so we will approximate to the next smallest number which is 240. This returns a value of 3.335.

### Finding MSE (Mean Square Within)

In [12]:
ssw_a_total = 0
for figure in website_a_figures:
  ssw_a_total+= (figure-website_a_sample_mean)**2
print('ssw_a_total: {0:.3f}'.format(ssw_a_total))

ssw_b_total = 0
for figure in website_b_figures:
  ssw_b_total+= (figure-website_b_sample_mean)**2
print('ssw_b_total: {0:.3f}'.format(ssw_b_total))

ssw_c_total = 0
for figure in website_c_figures:
  ssw_c_total+= (figure-website_c_sample_mean)**2
print('ssw_c_total: {0:.3f}'.format(ssw_c_total))

ssw_total = ssw_a_total + ssw_b_total + ssw_c_total
print('ssw_total: {0:.3f}'.format(ssw_total))

ssw_dof = 3*(150-1)
print('ssw dof: {0:.3f}'.format(ssw_dof))

mse = ssw_total/ssw_dof
print('MSE: {0:.3f}'.format(mse))

ssw_a_total: 32650.767
ssw_b_total: 29240.317
ssw_c_total: 34167.346
ssw_total: 96058.430
ssw dof: 447.000
MSE: 214.896

### Calculating T

In [13]:
q = 3.335
n = 150

t = q * np.sqrt((mse/n))
print('T: {0:.3f}'.format(t))

T: 3.992

## Step 3 - Calculate Absolute Values of Paired Means

In [14]:
result_a_b = np.abs(website_a_sample_mean - website_b_sample_mean)
result_a_c = np.abs(website_a_sample_mean - website_c_sample_mean)
result_b_c = np.abs(website_b_sample_mean - website_c_sample_mean)

print('abs diff a & b: {0:.3f}'.format(result_a_b))
print('abs diff a & c: {0:.3f}'.format(result_a_c))
print('abs diff b & c: {0:.3f}'.format(result_b_c))

abs diff a & b: 90.005
abs diff a & c: 4.012
abs diff b & c: 85.994

## Step 4 - Results Analysis

In [15]:
if result_a_b > t:
  print('Statistically significant difference between a and b at 0.05 significance level')
if result_a_c > t:
  print('Statistically significant difference between a and c at 0.05 significance level')
if result_b_c > t:
  print('Statistically significant difference between b and c at 0.05 significance level')

Statistically significant difference between a and b at 0.05 significance level
Statistically significant difference between a and c at 0.05 significance level
Statistically significant difference between b and c at 0.05 significance level

All of the datasets as a result of the hypothesis test are statistically significantly different from each other.

# 3. Practical Examples using StatsModels Library

## Example 1 - Treatment Figures

The following example is three different types of scores from different treatments and we want to determine which treatments have a significant difference between them.

## Step 1 - Prepare Data & Run Test

In [0]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import numpy as np

In [0]:
type_a_scores = [77, 79, 87, 85, 78]
type_b_scores = [83, 91, 94, 88, 85]
type_c_scores = [80, 82, 86, 85, 80]

In [0]:
# Preparing data into single numpy array for passing into statsmodels function
v = np.concatenate([type_a_scores, type_b_scores, type_c_scores])

In [0]:
# Preparing labels for groups to pass into statsmodels function
labels = ['type_a'] * len(type_a_scores) + \
         ['type_b'] * len(type_b_scores) + \
         ['type_c'] * len(type_c_scores)

In [0]:
# Running tukeys range test with significance level of 0.05
tukey_results = pairwise_tukeyhsd(v, labels, 0.05)

## Step 2 - Collect & Analyse Results

In [21]:
print(tukey_results)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
type_a type_b      7.0 0.0412   0.2752 13.7248   True
type_a type_c      1.4 0.8384  -5.3248  8.1248  False
type_b type_c     -5.6 0.1077 -12.3248  1.1248  False
-----------------------------------------------------

From the results it is indicating that there is a statistically significant difference between:



*   type_a and type_b treatment scores

## Example 2 - Subscriber Figures Sales

Using the same example from the anova notebook of subscriber sales for 3 different websites, we know that there is a significant difference between the 3 different websites.

We are going to use the same dataset, and this time find out which of the 3 different websites are significantly different from each other using Tukey's Range Test.

The following dataset is sales figures from 3 different websites for subscribers to their video streaming content.

We are going to run this test at a significance level of 0.05

## Step 1 - Prepare Data & Run Test

In [0]:
website_a_figures = [73.57195018, 38.36736256, 49.36398786, 61.9617142, 
                     38.73959044, 55.94532269, 36.65062484, 60.67437231, 
                     63.07900236, 87.32085001, 50.34422982, 57.1090334, 
                     78.67520953, 61.03927418, 82.28774307, 53.58957582, 
                     72.92461536, 74.5603031, 55.02980576, 41.25844438, 
                     53.79588118, 64.79609893, 70.6964892, 66.74072317, 
                     75.0132205,  95.1255286, 49.455128, 66.03612649, 
                     53.02736305, 73.36372418, 40.25571098, 71.04422625, 
                     50.5013845, 38.22366664, 42.75767497, 52.50694334, 
                     38.604658, 59.67850535, 44.19604564, 46.92727224, 
                     55.24050064, 64.52773077, 34.09865429, 42.23778758, 
                     52.86937388, 90.10958086, 59.77157363, 65.57718324, 
                     67.40180559, 56.73021714, 63.26785746, 45.37055306, 
                     80.38995288, 87.65807685, 51.45634914, 65.99748438, 
                     72.47729986, 64.30071533, 19.73984606, 46.23986878, 
                     52.34828788, 61.11952527, 56.20838268, 39.34468135, 
                     57.93250947, 53.37617284, 48.81742261, 80.03593773, 
                     42.25474002, 44.4620247, 63.2401429, 53.75811252, 
                     41.12354869, 70.37251822, 58.0428706, 53.80533131, 
                     33.5540081, 50.05772819, 59.01472301, 63.18681147, 
                     56.36447661, 79.54804111, 57.58182513, 41.80650266, 
                     63.29608989, 69.20391058, 79.07999732, 68.87071256, 
                     54.61550389, 41.62384273, 58.05435004, 57.19652908, 
                     69.06753866, 76.73936006, 61.71461742, 90.44575864, 
                     44.97285945, 14.93461323, 60.22982158, 37.03612975, 
                     38.57973403, 56.3595887, 95.82780236, 82.89304549, 
                     48.08376399, 41.40360494, 39.62295003, 68.15395305, 
                     62.5134759, 48.39594647, 43.4393662, 53.8693371, 
                     45.40197091, 42.65484356, 77.56769986, 42.21598943, 
                     80.22825438, 52.2077973, 41.85889516, 83.40105978, 
                     63.19638331, 61.35383468, 80.02929924, 48.89037458, 
                     53.97640552, 56.44664214, 50.13546236, 41.93267706, 
                     62.23540804, 60.02470794, 71.94323655, 59.379194, 
                     42.88128137, 79.18722897, 79.31010058, 48.44544746, 
                     51.91236908, 41.13612282, 65.07530571, 49.21085783, 
                     82.5097768, 60.94264609, 56.83480824, 64.73765846, 
                     69.44225076, 47.86210011, 72.52226994, 68.98808623, 
                     58.23601966, 63.84862398]

In [0]:
website_b_figures = [166.22395047, 172.09005618, 152.32762949, 172.507172, 
             140.27311528, 140.36043391, 111.86744002, 141.70177057, 
             148.98833575, 146.91675049, 123.54945067, 123.40978504, 
             155.76569046, 142.96865798, 135.58264198, 169.68754397, 
             146.65975496, 150.9707252, 134.86971979, 149.60776063, 
             148.28307388, 145.88817947, 162.38303137, 135.00981504, 
             171.85180822, 130.07093286, 153.57912977, 138.00376972, 
             125.15058192, 165.07780817, 167.06076974, 148.21345784, 
             142.13482631, 161.74471113, 153.08759695, 127.46149326, 
             144.98488931, 168.04532604, 146.62742461, 169.08085481, 
             147.93072944, 177.82468602, 156.75914532, 149.6819541, 
             133.91578629, 131.58089602, 159.56290262, 160.28930871, 
             182.15691569, 141.93026478, 153.67681774, 124.85813365, 
             135.17597596, 151.92017019, 156.76937056, 151.0351934, 
             147.07835781, 163.30459951, 172.75128135, 132.2530624, 
             140.86317146, 153.71741024, 128.43960204, 150.16932458, 
             146.08145551, 171.98296242, 151.61688295, 159.94892745, 
             137.01951468, 139.07827094, 153.0684031, 151.07737089, 
             136.709464, 186.87288108, 146.4899794, 163.81305555, 
             135.53650919, 152.58431842, 149.59211758, 146.01451472, 
             159.67903997, 168.08994565, 155.03120985, 147.90284861, 
             133.29003945, 137.50441404, 179.52358583, 152.88678396, 
             124.53005843, 145.94780164, 150.74413238, 152.11680648, 
             147.87257702, 164.07964198, 141.96900012, 152.51128825, 
             145.32057291, 148.96494736, 146.39303683, 168.97273101, 
             126.22804995, 146.78461973, 152.16877455, 145.67293588, 
             146.75954115, 152.23049295, 172.39283402, 159.6911547, 
             153.36245345, 165.01578242, 150.94090222, 146.15422137, 
             140.50921191, 140.04764151, 153.15240977, 152.43495213, 
             152.45494029, 165.79913392, 126.14429818, 149.14747073, 
             134.03760893, 137.90312396, 134.40634288, 146.15657776, 
             139.77627365, 149.09244734, 152.204507, 159.88654681, 
             130.79661858, 143.78037133, 140.67739551, 138.27404966, 
             144.97202726, 129.27957612, 125.36927788, 156.07923218, 
             163.05308354, 151.10088824, 119.00762725, 147.40755788, 
             151.08377314, 139.35183159, 157.26332153, 117.17654103, 
             153.10114854, 133.8973409, 147.25560303, 170.96561247, 
             135.18641327, 123.07647302]

In [0]:
website_c_figures = [62.80215823, 54.62836519, 49.87267902, 71.37979508, 
             85.12967256, 49.81457321, 75.35136467, 54.45595669, 
             86.7241256, 75.56591744, 63.03183392, 57.3843091, 
             39.23348399, 82.69868909, 55.96390617, 61.76459869, 
             62.1037224, 66.92666631, 49.93339614, 51.13778227, 
             31.67316587, 38.49802083, 49.36472683, 69.04306874, 
             45.20762281, 73.5836671, 100.61092317, 30.92480424, 
             37.15912948, 53.73782208, 69.36703357, 60.15384459, 
             43.20003949, 51.12609883, 64.77507512, 63.28721074, 
             62.754003, 71.7590419, 73.08977513, 75.48485174, 
             47.8968874, 62.25258739, 66.33673312, 43.71093919, 
             80.65634624, 72.25758668, 100.91480345, 32.02761357, 
             58.31892089, 71.4399215, 45.07120452, 69.71137689, 
             85.37226652, 55.67710588, 70.25367706, 55.81488767, 
             61.21107415, 55.42183671, 66.80712926, 36.99284828, 
             42.37050081, 79.61120896, 58.88769703, 79.59158327, 
             59.16570772, 70.02097967, 85.29993197, 32.41236279, 
             52.6081084, 68.17342096, 65.32976073, 60.00672926, 
             26.30035248, 87.44943179, 55.35068819, 60.28778429, 
             33.03668105, 80.18693884, 77.27496626, 76.7616852, 
             100.94978198, 59.46503936, 78.07629437, 51.6102307, 
             86.95385235, 85.41984014, 54.83564532, 58.06315164, 
             66.17243082, 62.27966342, 83.35735441, 44.7213871, 
             42.8362959, 71.72428838, 68.4553881, 55.93152855, 
             52.33224863, 65.53344277, 48.19362864, 64.92300871, 
             56.23992888, 78.11260866, 55.80999334, 82.06126322, 
             67.03112813, 51.22917649, 51.6408127, 63.48194033, 
             71.77803695, 71.3696262, 45.12124272, 82.24703749, 
             70.91202908, 62.51210475, 71.71280187, 66.37758047, 
             49.28266126, 41.29074798, 61.81010589, 39.62654933, 
             73.54046019, 71.08493364, 61.88315174, 57.41521882, 
             69.83162524, 65.90217343, 77.11136925, 86.72149744, 
             81.81406049, 65.85430935, 94.96433541, 69.97078382, 
             73.34687737, 75.05530607, 57.51618582, 62.3665881, 
             58.80615169, 63.38469779, 35.87580831, 46.22850701, 
             56.05164877, 55.33599773, 45.84709985, 51.93706339, 
             70.16258619, 65.97686424, 50.51337502, 46.76635411, 
             70.39019472, 42.0636888]

In [0]:
# Preparing data into single numpy array for passing into statsmodels function
v = np.concatenate([website_a_figures, website_b_figures, website_c_figures])

In [0]:
# Preparing labels for groups to pass into statsmodels function
labels = ['website_a'] * len(website_a_figures) + \
         ['website_b'] * len(website_b_figures) + \
         ['website_c'] * len(website_c_figures)

In [0]:
# Running tukeys range test with significance level of 0.05
tukey_results = pairwise_tukeyhsd(v, labels, 0.05)

## Step 2 - Collect & Analyse Results

In [28]:
print(tukey_results)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================
  group1    group2  meandiff p-adj   lower    upper   reject
------------------------------------------------------------
website_a website_b  90.0053  0.001  86.0247  93.9859   True
website_a website_c   4.0115 0.0478   0.0309   7.9922   True
website_b website_c -85.9938  0.001 -89.9744 -82.0131   True
------------------------------------------------------------

From the results it is indicating that there is a statistically significant difference between:



*   website_a and website_b figures
*   website_a and website_c figures
*   website_b and website_c figures

# 4. Assumptions

*   Observations are independent within and among groups
*   The groups for each mean in the test are normally distributed
*   There is equal within-group variance across the groups associated with each mean in the test (homogenity of variance)